# fly.toml app configuration file generated for gnosis-slack-app on 2025-03-28T15:40:51-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gnosis-slack-app-staging'
primary_region = 'sea'

kill_signal = "SIGINT"
kill_timeout = 5

[env]
  PORT = '3000'

[[services]]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']
  [[services.ports]]
    handlers = ["http"]
    port = 80
    force_https = true
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
