[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "pylint --recursive=y ."
format_check = "black --check --diff src test"
format = "black src test"
test = "pytest --cov-report term --cov=src test/ --cov-fail-under 90 --cov-config .coveragerc"
start = "python3 src/main.py"
dev = "pymon src/main.py"

[packages]
slack-bolt = "1.23.0"
requests = "2.32.3"

[dev-packages]
pylint = "3.3.6"
pytest = "8.3.5"
pytest-mock = "3.14.0"
pytest-cov = "6.0.0"
black = "25.1.0"
py-mon = "2.0.5"

[requires]
python_version = "3.13"
